html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 1px #000;
}

canvas {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin: 0.5em 0 0.2em;
}

a {
  font-size: 0.9rem;
  color: #bbb;
  text-decoration: none;
  border-bottom: 0.15rem solid transparent;
  transition: all 0.4s;
}
a:hover {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
